<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<style>
body{
margin:0;
height:100vh;
background:linear-gradient(to bottom,#1e3c72,#2a5298);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
font-family:Arial;
}
form{
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:12px;
display:flex;
flex-direction:column;
align-items:center;
}
input,button{
width:250px;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
}
button{background:#2a5298;color:white;}
</style>
</head>

<body>

<img src="{{ url_for('static', filename='logo.png') }}" width="200">
<h2>Login</h2>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="color: yellow; margin-bottom: 15px; text-align:center;">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form method="POST">
<input type="email" name="email" placeholder="Enter your email" required>
<button type="submit">Login</button>
</form>

</body>
</html>